/***** Start Defualt Theme *****/

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu .divider,
.carousel-indicators .active,
.optionBox .gearcheck {
    background-color: #E41B17;
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials .item span,
.statistic .status:hover,
footer h3,
footer .copyright span {
    color: #E41B17;
}

.testimonials .carousel-indicators .active,
.optionBox .colorOption,
.price_table .price_box:hover p {
    border: 3px solid #E41B17;
}

.navbar-nav>li>.dropdown-menu {
    border-top-color: #E41B17;
}


/***** End Defualt Theme *****/